{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
    var listings_url = "{{=URL('default', 'get_listings')}}";//No need for signature here
	var get_my_info_url = "{{=URL('default', 'get_my_info')}}";
</script>
{{end}}

<div class="main_content">
	<body class="background-pic">
	<div class="content">
    	<div id="vue-div" class="display:none">
			<transition name="fade">
        	<!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
				<div class="home_title">
					<h1 id="slug_title">Slug House</h1>
					<h4>UCSC Housing Registry</h4>
				</div>
				<div>

				</div>

			</transition>

            <div class="padded">
                <h4> Available Listings</h4>
                <div id="listing_containter" class="padded">
                    <div class="fa-border" v-for="listing in listings">
                        <div class="third padded">
                            <h6> Address</h6>
                        </div>
                        <div class="third padded">
                            <h6> discription </h6>
                            ${listing.num_baths}
                            ${listing.num_bedroom}
                        </div>
                        <button v-if="logged_in">
                            <i class="fa fa-thumbs-up"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>


    </div>
	</body>
</div>


<script src="{{=URL('static', 'js/default_index.js')}}"></script>
