{{extend 'layout.html'}}

{{block head}}



<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
    var listings_url = "{{=URL('default', 'get_listings')}}";//No need for signature here
	var get_my_info_url = "{{=URL('default', 'get_my_info')}}";

	var search_url = "{{=URL('default', 'search')}}";
	var like_property_url = "{{=URL('default', 'like_property')}}";

	var like_property_url = "{{=URL('default', 'like_property')}}";
    var get_liked_properties_url = "{{=URL('default', 'get_liked_properties')}}";
    var add_note_url = "{{=URL('api', 'add_new_property_note',  user_signature=True)}}";

</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
{{end}}

<div class="main_content">
	<div class="content">
    	<div id="vue-div" class="display:none">
        	<!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
            <div class="top-of-page">
				<div class="home_title">
					<h1 id="slug_title">Slug House</h1>
					<h4>UCSC Housing Registry</h4>
				</div>
                <div class="search_div">
                    <h5>Search a listing</h5>
                    <input class="string search_input" v-model="form_street_search" placeholder="Street" type="text">
                    <input class="string search_input" v-model="form_city_search" placeholder="City" type="text">
                    <input class="string search_input" v-model="form_zip_search" placeholder="Zip Code" type="text">
                    <input class="string search_input" v-model="form_state_search" placeholder="State" type="text">
                    <div class="search_btns ">
                        <button class="rounded" v-on:click="search_button()">
                            <i class="fa fa-search"></i> Search
                        </button>
                        <button class="rounded" v-on:click="cancel_search_button()">
                            <i class="fa fa-times"></i> Clear
                        </button>
                    </div>
                </div>
            </div>
            <div class="bottom-of-page">

                <div v-if="listings.length > 0" class="listings padded">
                    <h2 class="home_title"> Available Listings</h2>
                    <div v-for="listing in listings">
                        <listing :listing="listing"></listing>
<!--
                        <div class="avail_listings">
                            <slideshow :images="listing.images"></slideshow>
                            <h6> Address</h6>
                            <p>${listing.street}</p>
                            <p>${listing.city} ${listing.state} ${listing.zip}</p>
                        </div>
                        <div class="avail_listings">
                            <h6> Description </h6>
                            <p> Bedrooms: ${listing.num_bedrooms}</p>
                            <p> Full Bathrooms:${listing.num_fullbaths}</p>
                            <p> Half Bathrooms: ${listing.num_halfbaths}</p>
                        </div>
                        <div class="avail_listings">
                            <h6> Property Owner </h6>
                            ${listing.user_email}
                        </div>

                        <div class="property_notes">

                            <button class="avail_listings rounded btn" v-on:click="see_notes_button()"> Reviews </button>

                            <div  v-if="is_viewing_notes">
                                <h6 class="review_text_title"> Reviews </h6>
                                    <div class="review_text" v-for="note in listing.notes">
                                        <p class="solid">${note.note}</p>
                                    </div>
                                    <button v-if="!is_adding_note && logged_in" v-on:click="add_note_button()" class="add_review_btn rounded btn"><i class="fa fa-pencil-square-o"></i> Add Review </button>
                                    <div v-if="is_adding_note">
                                        <textarea maxlength="140" rows="10" cols="30" v-model="form_new_note" placeholder="Leave your review"></textarea>
                                        <button class="review_btn1 rounded padded" v-on:click="add_note(listing.property_id)"> Submit </button>
                                        <button class="review_btn2 rounded padded" v-on:click="add_note_button()"> Cancel </button>
                                    </div>
                            </div>
                        </div>

                        <div class="padded" v-if="logged_in">
                            <button class="star_btn rounded" v-show="is_property_liked(listing.property_id) == true" v-on:click="like_property(listing.property_id)">
                                <i class="fas fa-star"></i>
                            </button>
                            <button class="star_btn rounded" v-show="is_property_liked(listing.property_id) == false" v-on:click="like_property(listing.property_id)">
                                <i class="far fa-star"></i>
                            </button>
                        </div>

-->

                    </div>
                    <div class="container center padded">
                            <div class="third">
                                <button v-if="has_less" class="center" v-on:click="prev_page()"><i class="fa fa-arrow-left"></i> Prev </button>
                            </div>
                            <div class="third">
								<p class="center">${page} </p>
                            </div>
                            <div class="third">
                                <button v-if="has_more" class="center" v-on:click="next_page()"> Next <i class="fa fa-arrow-right"></i></button>
                            </div>
                    </div>
                    <div v-if="listings.length == 0">
                    <h5> No Results Found </h5>
                </div>
             </div>
            </div>



            </div>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
</div>