{{extend 'layout.html'}}
{{block head}}
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/5.1/jquery.liveaddress.min.js"></script>
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var get_all_lfg_posts_url ="{{=URL('api', 'get_all_lfg_posts')}}";
    var get_groups2_url = "{{=URL('groups', 'get_groups2', user_signature=True)}}";
    var send_group_invitation_url ="{{=URL('api', 'send_group_invitation', user_signature=True)}}";
    var get_available_cities_url = "{{=URL('api', 'get_available_cities', user_signature=False)}}";
    var post_lfg_post_url = "{{=URL('api', 'post_lfg_post', user_signature=True)}}";
    var accept_invitation_url = "{{=URL('api', 'accept_invitation', user_signature=True)}}";
    var get_this_user_id_url = "{{=URL('api', 'get_this_user_id', user_signature=True)}}";
    var edit_lfg_post_url = "{{=URL('api', 'edit_lfg_post', user_signature=True)}}";
</script>

<script>
    var users_url = "{{=URL('groups', 'get_users', user_signature=True)}}";
    var search_users_url = "{{=URL('groups', 'search_users', user_signature=True)}}";
    var groups_url = "{{=URL('groups', 'get_groups', user_signature=True)}}";
    var members_url = "{{=URL('groups', 'get_members', user_signature=True)}}";
    var add_group_url = "{{=URL('groups', 'add_group', user_signature=True)}}";
    var toggle_is_editing = "{{=URL('groups', 'is_editing', user_signature=True)}}";
    var add_member_url = "{{=URL('groups', 'add_member', user_signature=True)}}";
    var del_member_url = "{{=URL('groups', 'del_member', user_signature=True)}}";
    var delete_group_url = "{{=URL('groups', 'delete_group', user_signature=True)}}";
    var get_insertion_url = "{{=URL('groups', 'get_insertion_id', user_signature=True)}}";
    var clean_members_url = "{{=URL('groups', 'clean_members', user_signature=True)}}";
</script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>



{{end}}
<div id="vue-div" class="main_content">

    <div class="lfg-page">

        <div class="left-side">
            <div class="my-groups" v-for="group in groups2">
                <group :group="group" :logged_in_user="this_user_id"></group>
            </div>
        </div>


        <div class="right-side ">
            <div class="lfg-header">
                <add_lfg_post :available_cities="available_cities"></add_lfg_post>
            </div>
            <div class="lfg-posts" v-for="post in allLFGPosts">
                <lfg_post :lfg_post_data="post" :groups="groups2" :logged_in_user="this_user_id"></lfg_post>

            </div>
        </div>

    </div>


</div>



<script src="{{=URL('static', 'js/default_lfg.js')}}"></script>
