{{extend 'layout.html'}}
{{block head}}
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/5.1/jquery.liveaddress.min.js"></script>
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>



{{end}}
<div id="vue-div" class="main_content">
    <p>klkhlfkas</p>

</div>



<script src="{{=URL('static', 'js/default_lfg.js')}}"></script>
