{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var get_all_lfg_posts_url ="{{=URL('api', 'get_all_lfg_posts')}}";
    var get_groups2_url = "{{=URL('groups', 'get_groups2', user_signature=True)}}";
    var send_invitation_to_group_url ="{{=URL('api', 'send_invitation_to_group', user_signature=True)}}";


</script>



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>


{{end}}
<div id="vue-div" class="main_content">
    <div class="messages-page">

        <div class="conversation-list">
            alkjshdflkjasdf
        </div>
        <div class="selected-message">

        </div>

    </div>
</div>