
{{extend 'usr_layout.html'}}
<!-- Edit the HTML for profile page here -->

<div id="profile">
        <div class="property_info">
            <h5 class="title">My Properties</h5>
        <div class="property_key_image center spaced padded">
            {{=A(IMG(_src=URL('static/images', 'sample_house.jpg'), _alt="comment"),_href=URL('default/profile','#popup1'))}}
        </div>
        <div class="modal" id="popup1">
          <div class="twothirds rounded white padded">
            <h2>Hello from modal</h2>
            <a class="close" href="#">×</a>
            <!--
            HTML for a image carousel should go here
            -->

            <div class="right">
              <a class="close btn" href="#">close</a>
            </div>
          </div>
        </div>
        </div>
</div>