{{extend 'layout.html'}}
<!-- Edit the HTML for profile page here -->

<div id="reset_password">
    <div class="main_content container compressible">
        <div class="left_side container quarter max900">
            <div class="user_info ">
                {{=A(IMG(_src=URL('static/images', 'default_user.jpg'), _alt="default user image"))}}
                <div class="user_text">
                    <h3>First Last</h3>
                    <h6>My Rentals</h6>
                    <h6>My Listings</h6>
                    <h6>Interesting Properties</h6>
                </div>

            </div>
            <div class="add_listing">
                <div class="add_btn">
                    <a class="btn red rounded" href="{{=URL('default', 'add')}}">
                        <i class="fa fa-plus"></i>
                        Add Listing
                    </a>
                </div>

            </div>


        </div>

        <div class="right_side container threequarters max900 compressible">
            <div class="property_info">
                <h1>Image</h1>
                <h4>123 Fake Street</h4>
                <h5>Santa Cruz, CA 12345</h5>

            </div>

        </div>

    </div>


</div>