

        <div class="user_info ">
            {{if auth.user.picture is None:}}
                <!--This the statically served default profile picture -->
                {{=A(IMG(_src=URL('static/images', 'default_user.jpg'), _alt="default user image"))}}
            {{else:}}
                <!--This should be the users uploaded profile picture.... if it ever works -->


                {{=A(IMG(_src=URL('default', 'download', args=db.auth.user.picture), _alt="default user image"))}}
            {{pass}}
            <div class="user_text">
                <h3>{{=auth.user.first_name}} {{=auth.user.last_name}}</h3>
                <h6>My Rentals</h6>
                <h6>My Listings</h6>
                <h6>Interesting Properties</h6>
            </div>
        </div>

        <div class="add_listing">
            <div class="add_btn">
                <a class="btn red rounded padded" href="{{=URL('default', 'add')}}">
                    <i class="fa fa-plus"></i>
                    Add Listing
                </a>
            </div>

        </div>


