/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
.main_content {
  background-color: #4F5F74;
  width: 100%;
  /*padding: 32pt 0;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start; */
  /*background-color:#003bb3;*/
}
div.main_content div.listings div.listing_container{
    background-color: #747C86;
}
.background-pic{

}

.drop_down_field{
  background-color: #fff;
  border-radius: 18px;
}
.valid_address{
  margin-top: 10px;
}

.home_title{
  font-family: "Gill Sans MT";
  /*color: #FFF700;*/
}
.content{
  width: 50%;
}
.banner{
    text-align: center;
}

div.add_property_div{
    background-color: F0F1F2;
    margin: 10px;
    border: 1px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #4F5F74;
}


div.add_listing_div{
    background-color: F0F1F2;
    margin: 10px;
    border: 1px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #4F5F74;
}

div.add_property_div div.button_bar div.right-button .btn{
    float:right;
}
div.add_property_div div.button_bar div.left-button .btn{
    float:left;
}



/* line 9, ../sass/_main.scss */
div.main_content div.left_side div.user_info {
    background-color: F0F1F2;
    margin: 10px;
    border: 1px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #4F5F74;
    opacity: 0.8;

    margin-top: 18px;
}
/* line 15, ../sass/_main.scss */
div.main_content div.left_side div.user_info img {
    padding-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    max-height: 200px;
    border-radius: 50%;
}
/* line 23, ../sass/_main.scss */
div.main_content div.left_side div.user_info div.user_text {
  margin: 15px;
}
/* line 27, ../sass/_main.scss */
div.main_content div.left_side div.button_list {
  margin: 10px;
}
/* line 30, ../sass/_main.scss */
div.main_content div.left_side div.button_list div.add_btn .btn{
  float: left;
  background-color: #5F94B9;
}
div.main_content div.left_side div.button_list div.group_btn .btn{
    float: right;
    background-color: #5F94B9;

}
/* line 38, ../sass/_main.scss */
div.main_content div.right_side div.property_info .right_side_banner {
    text-align:center;
    background-color: #F0F1F2;
    margin: 10px;
    border: 1px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #4F5F74;
    opacity: 0.8;
        line-height: 40px;



}
div.main_content div.right_side div.property_info div.slideshow-container{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

div.main_content div.right_side div.property_info .prev, .next {
  cursor: pointer;
  /*position: absolute;*/
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 8px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

div.main_content div.right_side div.property_info .next {
    right: 0;
    vertical-align: middle;
    border-radius: 0 3px 3px 0;


}
div.main_content div.right_side div.property_info .prev {
  vertical-align: middle;
    border-radius: 3px 0 0 3px;

}

div.main_content div.right_side div.property_info .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



div.main_content div.right_side div.liked_properties .right_side_banner {
    text-align:center;
    background-color: #F0F1F2;
    margin: 10px;
    border: 1px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #4F5F74;
    opacity: 0.8;
}


div.main_content div.right_side div.property_info .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

 div.main_content div.right_side div.property_info .active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
div.main_content div.right_side div.property_info .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
div.main_content div.right_side div.property_info .owned_properties {
    background-color: #F0F1F2;
    margin: 10px;
    border: 2px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #4F5F74;
    opacity: 0.8;

}

div.main_content div.right_side div.liked_properties .liked_prop {
    background-color: #F0F1F2;
    margin: 10px;
    border: 2px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #4F5F74;
    opacity: 0.8;

}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



div.main_content div.right_side div.group_info div.right_side_banner {
    text-align:center;
    background-color: #F0F1F2;
    margin: 10px;
    border: 1px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #4F5F74;
    opacity: 0.8;
}
div.main_content div.right_side div.one_group {
    background-color: #F0F1F2;
    margin: 10px;
    border: 1px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px 4F5F74;
    opacity: 0.8;
}
div.main_content div.right_side div.one_group div.button_bar .btn{
    background-color: #5F94B9;
}
div.main_content div.right_side div.one_group div.button_bar .delete{
    background-color: red;
}


/* line 159, ../sass/_main.scss */
/*
div.main_content div.right_side div.group_info {
    background-color: F0F1F2;
    margin: 10px;
    border: 2px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px 4F5F74;
    opacity: 0.8;
}
*/
/* line 165, ../sass/_main.scss */
/*
div.main_content div.right_side div.group_info .title {
  margin-left: 15px;
}
*/
/* line 171, ../sass/_main.scss */
div.main_content div.right_side div.group_search {
    background-color: F0F1F2;
    margin: 10px;
    border: 1px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px 4F5F74;
    opacity: 0.8;
}
div.main_content div.right_side div.group_info div.my_groups {
    background-color: F0F1F2;
    margin: 10px;
    border: 1px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px 4F5F74;
    opacity: 0.8;
}
/* line 177, ../sass/_main.scss */
div.main_content div.right_side div.group_search .title {
  margin-left: 15px;
}
/* line 181, ../sass/_main.scss */
div.main_content div.right_side div.group_search .pic {
  margin-left: 15px;
}
/* line 184, ../sass/_main.scss */
div.main_content div.right_side div.group_search .p {
  margin-left: 15px;
}
