/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 6, ../sass/_main.scss */
div.main_content div.left_side {
  background-color: gray;
}
/* line 9, ../sass/_main.scss */
div.main_content div.left_side div.user_info {
  background-color: wheat;
  margin: 10px;
  border: 2px solid red;
  border-radius: 15px;
}
/* line 15, ../sass/_main.scss */
div.main_content div.left_side div.user_info img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-height: 200px;
  border-radius: 50%;
}
/* line 23, ../sass/_main.scss */
div.main_content div.left_side div.user_info div.user_text {
  margin: 15px;
}
/* line 27, ../sass/_main.scss */
div.main_content div.left_side div.add_listing {
  margin: 10px;
}
/* line 30, ../sass/_main.scss */
div.main_content div.left_side div.add_listing .btn {
  background-color: orange;
  /* CHANGE THIS COLOR, ONLY HERE TO OVERIDE DEFAULT COLOR */
}
/* line 39, ../sass/_main.scss */
div.main_content div.right_side div.property_info {
  background-color: wheat;
  margin: 10px;
  border: 2px solid red;
  border-radius: 15px;
}
